<h2 align="center">Create Movie Page</h2><br/>

<div align="center">
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="Title">Title </label>
            <input type="text" id="Title" required formControlName="Title">
        </div>
        <div>
            <label for="Description">Description </label>
            <input type="text" id="Description" required formControlName="Description">
        </div>
        <div>
            <label for="Director">Director </label>
            <input type="text" id="Director" required formControlName="Director">
        </div>
        <div>
            <label for="Length">Length</label>
            <input type="number" id="Length" required formControlName="Length">
        </div>
        <button type="submit" class="btn btn-success">Create Movie</button>
        <button type="button" class="btn btn-default" (click)="newInfo()">Reset</button>
    </form>
</div>